@charset "utf-8";
.resultmodal {
    display: none;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.resultmodal-content{
    background-color: white;
    width: 400px;
    margin: 20% auto;
}
button.btn1 {
    font-size: inherit;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;
    background-color: #4672c4;
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.btn1:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}