@charset "utf-8";
table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 1024px;
    font-size: inherit;
}
table.layout-fixed {
    table-layout: fixed;
}
th {
    font-weight: normal;
}
td {
    height:24px;
}
.site-header {
    width: 1028px;
    position: relative;
    background-color: #4672c4;
    height: 50px;
}
.page-name {
    text-align: left; 
    font: bold;
    color: white;
    margin-left: 5px;
    padding-left: 5px;
    line-height: 50px;
}
.btn-area {
    width: 1024px;
    padding-top: 10px;
    position: relative;
    height: 50px;
    text-align: left;
}
.btn-border {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #4672c4;
    font-size: 16px;
    color: #FFF;
    background-color: #4672c4;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
}
.btn-border:hover {
    background-color: #FFF;
    border-color: #4672c4;
    color: #4672c4;
}
.height24 {
    height: 24px;
}
button.btn_logout {
    font-size: inherit;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 文字色を白色に指定 */
    color: #fff;
    
    position: absolute;
    right: 10px;
    top:5px;
    /* ボーダーをなくす */
    border-style: none;
    background-color: #4672c4;
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.btn_logout:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}
button.btn1 {
    font-size: inherit;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;
    background-color: #4672c4;
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.btn1:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}
button.btn2 {
    font-size: inherit;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;
    position: absolute;
    right: 120px;
    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;
    background-color: #a7a7a7;
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.btn2:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}
button.btn3 {
    font-size: inherit;
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;
    position: absolute;
    right: 10px;
    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;
    background-color: #a7a7a7;
    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
button.btn3:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}
.width1024 {
    width:1024px;
}
.width650 {
    width:650px;
}
.width490 {
    width:490px;
}
.width400 {
    width:400px;
}
.width350 {
    width:350px;
}
.width330 {
    width:330px;
}
.width300 {
    width:300px;
}
.width250 {
    width:250px;
}
.width230 {
    width:230px;
}
.width200 {
    width:200px;
}
.width180 {
    width:180px;
}
.width160 {
    width:160px;
}
.width150 {
    width:150px;
}
.width94 {
    width:94px;
}
.width120 {
    width:120px;
}
.width100 {
    width:100px;
}
.paddingleft10 {
    padding-left: 10px;
}
.paddingtop10 {
    padding-top: 10px;
}
.paddingtop15 {
    padding-top: 15px;
}
.paddingtop20 {
    padding-top: 20px;
}
.margintop30{
    margin-top: 30px;
}
.highlight {
    background-color: red;
}
.marginleft400 {
    margin-left: 400px;
}
.paddingleft5 {
    padding-left: 5px;
}
.textcenter {
    text-align: center;
}
.textright {
    padding-right: 10px;
    text-align: right;
}
input {
    height: 30px;
    width: 350px;
}
#error_message {
    display: none;
}
.delmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.delmodal-content{
    background-color: white;
    width: 500px;
    height: 150px;
    margin: 5% auto;
}