@charset "utf-8";
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content{
    background-color: white;
    width: 500px;
    height: 460px;
    margin: 5% auto;
}
select {
    width: 200px;
    height: 30px;
}
.tableleft{
    position: absolute;
    right: 10px;
}
table.ex_table {
    border-collapse: collapse;
    border: 0;
}
table.ex_table td {
    border: 1px solid #222;
    padding: 3px;
}
table.ex_table td.ex_border_e {
    border: 0;
    width: 20px;
}
.font-size-small{
    font-size: small;
}
.tbl-heder{
    color: white;
    background-color: #4672c4!important;
    text-align: center;
}
.th-block {
    position: sticky;
    top: 0;
}